# Build directory
build/
cmake-build-*/

# IDE files
.idea/
.vscode/

# Compiled files
*.o
*.out
*.exe

# CMake files
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile
CMakePresets.json

# Database files
*.db

# Output files
output.txt
output.csv

# Test directory - ignore all except specific files
test/*
!test/verify.py
!test/syntax.md
!test/generator.py