# Build directory
build/
cmake-build-*/

# IDE files
.idea/
.vscode/

# Compiled files
*.o
*.out
*.exe
minidb

# CMake files
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile
CMakePresets.json

# Database files
*.db

# Output files
output.txt
output.csv 